* {
  font-family: "Inter";
}
.b-section {
  width: 100%;
  margin-bottom: 32px;
  h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    span {
      font-size: 20px;
      line-height: 36px;
      font-weight: 400;
      font-style: italic;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 14;
    line-height: 20px;
  }
  h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
  }
  h1, h2, h3, h4 {
    color: #303030;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    line-height: 12px;
    color: #005BD3;

  }
  p {
    color: #616161;
    font-size: 14px;
    font-weight: 450;
    text-align: left;
  }
  .full-width {
    width: 100%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
