.instruction-card {
  display: flex;
  gap: 50px;
  .info-wrapper {
    width: 100%;
    max-width: 288px;
    > p {
      padding: 20px;
    }
  }
  .instruction-info p.Polaris-Text--root:nth-child(2) {
    margin-top: 10px;
  }
  .img-wrapper {
    border-radius: 5px;
    width: 100%;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
}
