.requests-wrapper {
  h2 {
    margin-bottom: 24px;
  }
  .Polaris-DataTable__Cell--header {
    color: var(--p-color-text);
    border-bottom: var(--p-border-width-025) solid var(--p-color-border);
    border-top: 0;
    background: #fafbfb;
    text-align: center;
    span.Polaris-Text--root {
      font-size: 13px;
      line-height: 20px;
    }
  }
  .Polaris-DataTable__Table {
    border-radius: 5px;
    border-collapse: initial;
    border-width: 0;
    border-spacing: 0;
    background-color: var(--p-color-bg-surface);
  }
  .Polaris-DataTable__Cell {
    text-align: center;
    padding: 8px;
    width: 20%;
    &:first-child {
      width: 40%;
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &:nth-child(2):not(th) {
      font-weight: 600;
    }
  }
  thead .Polaris-DataTable__Cell {
    padding: 8px 6px;
    font-size: 12px;
    color: #616161;
    line-height: 16px;
    font-weight: 600;
  }
  td.Polaris-DataTable__Cell {
    font-size: 13px;
  }
  tbody .Polaris-DataTable__Cell {
    border-top: var(--p-border-width-025) solid var(--p-color-border-secondary);
  }
  .row-image-container {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 40px;
      display: block;
      object-fit: cover;
      height: auto;
    }
  }
}
